__pycache__/
transformers_playground.egg-info
checkpoints/
.env
finetuned/
src/CustomDatasets/ 
src/models/my-model/Prasanna-SmolLM-135M/
src/models/my-model/Prasanna-Qwen-0.5B-v1/
src/models/my-model/*.gguf
src/models/my-model/outputs/    
src/models/my-model/Prasanna-Llama-1B-v1/
*.pdf
*.txt
*.json 
unsloth_compiled_cache/
qwen-7b-full/
outputs/